<h1><%= @recipe.name() %></h1>

<h3>Ingredients:</h3>
<% if @recipe.ingredients.any?() %>

  <ul>
    <% @recipe.ingredients.each() do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>

<% else %>
  <p>there are no ingredients for this recipe yet!</p>
<% end %>

<h3>Instructions:</h3>
<p><%= @recipe.instructions() %></p>

<h3>Tags:</h3>
<% if @recipe.tags.any?() %>

  <ul>
    <% @recipe.tags.each() do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet!</p>
<% end %>

<a href="/recipe/<%= @recipe.id() %>/edit">Update</a>

<form action="/recipe/<%= @recipe.id() %>/rating"  method="post">
  <button value=1 name="rating">
    <span class = "glyphicon <%= (@recipe.rating().<(1))? 'glyphicon-star-empty':'glyphicon-star' %>"></span>
  </button>

  <button value=2 name="rating">
    <span class = "glyphicon <%= (@recipe.rating().<(2))? 'glyphicon-star-empty':'glyphicon-star' %>"></span>
  </button>

  <button value=3 name="rating">
    <span class = "glyphicon <%= (@recipe.rating().<(3))? 'glyphicon-star-empty':'glyphicon-star' %>"></span>
  </button>

  <button value=4 name="rating">
    <span class = "glyphicon <%= (@recipe.rating().<(4))? 'glyphicon-star-empty':'glyphicon-star' %>"></span>
  </button>

  <button value=5 name="rating">
    <span class = "glyphicon <%= (@recipe.rating().<(5))? 'glyphicon-star-empty':'glyphicon-star' %>"></span>
  </button>
</form>
<h3><%= @recipe.rating() %></h3>
